.aquaponics-page {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

.header {
    /* background: linear-gradient(to right, #4caf50, #81c784); */
    background-image: url(./assets/fish2.jpeg);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
}

.header p {
    font-size: 1.2rem;
}

.main-content {
    padding: 20px;
    margin-bottom: 20px;
}

.introduction{
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.images, .benefits, .resources{
    margin-bottom: 40px;
    text-align: justify;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.introduction h2,
.benefits h2,
.images h2,
.resources h2 {
    color: #4caf50;
    font-size: 2rem;
    margin-bottom: 20px;
}

.introduction p {
    font-size: 1.1rem;
}

.intro-image img {
    width: 60%;
}

.intro-image{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.intro-image .right-col{
    float: right;
    padding-left: auto;
    text-align: end;
    width: 100%;

    img{
        margin-bottom: 5px;
        text-align: end;
        width: 70%;
    }
}

.benefits {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.benefit-item {
    flex: 1 1 calc(50% - 20px);
    background: #c4e7c4;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.benefit-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.benefit-item h3 {
    color: #4caf50;
    margin: 15px 0;
}

.images {
    text-align: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.image-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.resources ul {
    list-style: none;
    padding: 0;
}

.resources li {
    margin: 10px 0;
}

.resources a {
    color: #4caf50;
    text-decoration: none;
}

.resources a:hover {
    text-decoration: underline;
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.btn-default{
    border:none;
}
.btn-default:hover{
    background-color:#39603d !important;
    color:rgb(255, 255, 255);
}
.btn-default:active{
    color:rgb(95, 99, 121) !important;
}